body {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

button {
    padding: 6px 12px;
    cursor: pointer;
}

.premium-btn {
    position: fixed;
    right: 20px;
    top: 50%;
    padding: 14px 20px;
    background: gold;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.premium-btn:hover {
    background: orange;
}
