body {
    font-family: Arial;
    background: #f2f2f2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 5px;
    text-align: center;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: green;
    color: white;
    border: none;
}

.link {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
}
